.pChicken
{
	
background-color: blue;


}

.beef
{

background-color:#A6F085;


}
.chicken
{

background-color: #DF1439;


}

.sushi
{

background-color:#9FFAF5;


}
p
{

font-family: Georgia,sans-serif;
	font-weight: bold;


}

body
{


background-color:#DEEEF5;


}

